body {
  margin: 0;
}

.section-top {
  background-color: hsl(225, 6%, 25%);
}

.section {
  height: 48vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  background-color: hsl(225, 6%, 25%);
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}

.title {
  color: #ffffff;
}

nav {
  background-color: hsl(225, 6%, 25%);
  display: flex;
  justify-content: left;
}

.logo {
  color: #ffffff;
  height: 25px;
  padding: 20px 12px;
}
